@import url('../assets/fonts/open-sans.css');

:root {
  --primary-color: #92b2de;
  --primary-color-alt: #fff;

  --low-color: #0000000f;

  --unit: .5rem;
  --pad-horizontal: var(--unit);
  --pad-vertical: calc(.5 * var(--unit));
  --pad: var(--pad-vertical) var(--pad-horizontal);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'open sans';
}
